.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw_data/raw_genotype.csv
data/prepared_data/.DS_Store
data/prepared_data/controlfile.json
data/prepared_data/dataic.rds
data/prepared_data/do_malaria.zip
data/prepared_data/geno.csv
data/prepared_data/gmap.csv
data/prepared_data/grouped.rds
data/prepared_data/pheno.csv
data/prepared_data/phenotypes.rds
_targets/objects/genofile
_targets/objects/raw_genotypes
_targets/objects/map
_targets/objects/do_malaria
_targets/objects/Xcovar